* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  position: relative;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
  width: 100vw;
}

.nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 3;
}

.nav .logo .hide {
  display: none;
}

.nav .logo__img {
  width: 12%;
}

.nav .logo__text {
  font-family: 'Playfair Display SC', serif;
  color: #FFD524;
  padding-left: 6px;
}

.nav .logo__lang {
  font-family: 'Playfair Display SC', serif;
  color: #FFD524;
  font-size: 2.5rem;
}

.nav .menuBtn {
  position: relative;
  z-index: 3;
  margin-top: .5rem;
}

.nav .menuBtn .menuLineBtn {
  display: block;
  background-color: #FFD524;
  width: 1.5rem;
  height: 3px;
  margin-bottom: 4px;
  border-radius: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

.nav .menuBtn .menuLineBtn--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav .menuBtn .menuLineBtn--2 {
  opacity: 0;
}

.nav .menuBtn .menuLineBtn--3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav .menu {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #55185D;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 20px;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.nav .menu a {
  color: #FFD524;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.nav .menu__open {
  left: 0%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav .menu__bg {
  position: absolute;
  bottom: 0%;
  right: -40%;
  opacity: .1;
  width: 130%;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

.index {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.index__bg {
  -webkit-animation: 1.7s bgImagePageLoad forwards;
          animation: 1.7s bgImagePageLoad forwards;
}

@-webkit-keyframes bgImagePageLoad {
  from {
    -webkit-transform: translateX(-63%) scale(1);
            transform: translateX(-63%) scale(1);
  }
  to {
    -webkit-transform: translateX(-58%) scale(1.07);
            transform: translateX(-58%) scale(1.07);
  }
}

@keyframes bgImagePageLoad {
  from {
    -webkit-transform: translateX(-63%) scale(1);
            transform: translateX(-63%) scale(1);
  }
  to {
    -webkit-transform: translateX(-58%) scale(1.07);
            transform: translateX(-58%) scale(1.07);
  }
}

.index .content {
  position: absolute;
  color: #FFD524;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

.index .content__title {
  -webkit-animation: 2.5s contentPageLoad forwards;
          animation: 2.5s contentPageLoad forwards;
  opacity: 0;
}

.index .content__title h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
}

.index .content__title h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.085rem;
  font-weight: 300;
}

.index .content__buttons {
  font-family: 'Poppins', sans-serif;
}

.index .content__buttons .button {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  -webkit-animation: 1.5s buttonOnLoad forwards;
          animation: 1.5s buttonOnLoad forwards;
  opacity: 0;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

.index .content__buttons .button__border {
  padding: 1rem;
}

.index .content__buttons .button--join {
  font-weight: 700;
  background: #FFD524;
}

.index .content__buttons .button--teams {
  background: none;
  border: 2px solid #FFD524;
  color: #FFD524;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@-webkit-keyframes contentPageLoad {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentPageLoad {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes buttonOnLoad {
  20% {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes buttonOnLoad {
  20% {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.form {
  background: -webkit-gradient(linear, left top, left bottom, from(#55185D), to(#290849));
  background: linear-gradient(180deg, #55185D 0%, #290849 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFD524;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  padding: 20px;
}

.form__logo {
  width: 25%;
  display: block;
  margin: 0 auto;
}

.form__title {
  font-family: 'Playfair Display SC', serif;
  font-size: 2rem;
  text-align: center;
}

.form__subtitle {
  font-size: 1rem;
  margin-bottom: 10%;
  text-align: center;
}

.form__fieldTitle {
  display: block;
  text-align: left;
  margin-bottom: .5rem;
  font-size: .5rem;
}

.form__field {
  display: block;
  border: none;
  background: none;
  color: #FFD524;
  font-weight: bold;
  border-bottom: 2px solid #FFD524;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.form__field:focus {
  outline: none;
}

.form__submit {
  text-align: left;
  background: #FFD524;
  color: #55185D;
  font-weight: bold;
  display: inline-block;
  border: none;
  font-size: 1rem;
  padding: .5rem 1.5rem;
}

.findMembers {
  height: 100vh;
  background-color: #290849;
}

.findMembers .search {
  height: 30%;
  background-color: #55185D;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.findMembers .search__field {
  display: block;
  border: none;
  background: none;
  color: #FFD524;
  font-weight: normal;
  border-bottom: 2px solid #FFD524;
  font-size: 2rem;
  width: 100%;
}

.findMembers .search__field:focus {
  outline: none;
}

.findMembers .results {
  background-color: #290849;
  padding: 20px;
}

.findMembers .results .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFD524;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.findMembers .results .member__imageContainer {
  width: 35%;
}

.findMembers .results .member__imageContainer img {
  width: 100%;
  border: 2px solid #290849;
  border-radius: 5px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.findMembers .results .member__profileContainer {
  width: 60%;
}

.findMembers .results .member__profileContainer span {
  font-size: .6rem;
  color: #55185D;
}

.findMembers .results .member__profileContainer p {
  font-style: normal;
  font-weight: normal;
  color: #290849;
  font-size: 1rem;
  margin-top: -5px;
}
/*# sourceMappingURL=style.css.map */