.findMembers{

    height: 100vh;
    background-color: $darkPurple;


    & .search{
        height: 30%;
        background-color: $lightPurple;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        
        &__field{
            display: block;
            border: none;
            background: none;
            color: $lightYellow;
            font-weight: normal;
            border-bottom: 2px solid $lightYellow;
            font-size: 2rem;
            width: 100%;

            &:focus{
                outline: none;
            }
            
        }
    }

    & .results{
        height: 70%;
        background-color: $darkPurple;
        padding: 20px;
        overflow-y: auto;

     & .member{

        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $lightYellow;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;

        &__imageContainer {
            
            width: 35%;
            
            & img{
                width: 100%;
                border: 2px solid $darkPurple;
                border-radius: 5px;
                transform: translateY(8px);
            }
        }

        &__profileContainer{

            width: 60%;

            & span{
                font-size: .6rem;
                color: $lightPurple;
                
            }

            & p {
                font-style: normal;
                font-weight: normal;
                color: $darkPurple;
                font-size: 1rem;
                margin-top: -5px;
            }
        }

     }
       
    }

   

}