.nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1.25rem;
    width: 100vw;
    

    & .logo{
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 3;
        

        &__img{
            width: 15%;
        }

        &__langRS{
            font-family: 'Playfair Display SC', serif;
            color: $lightYellow;
            font-size: 2.5rem;
        }

        &__text{
            font-family: 'Playfair Display SC', serif;
            color: $lightYellow;
            padding-bottom: 6px;
            padding-left: 6px;

        }
    }

    & .menuBtn{

        position: relative;
        z-index: 3;
        margin-top: .5rem;

        & .menuLineBtn{
            display: block;
            background-color: $lightYellow;
            width: 1.5rem;
            height: 3px;
            margin-bottom: 4px;
            border-radius: 10px; 
        }
    }

    & .menu {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $lightPurple;

        &__bg{
            position: absolute;
            bottom: 0%;
            right: -40%;
            opacity: .1;
            width: 130%;
            transform: rotate(18deg);
            
        }
    }
   
}

