.nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1.25rem;
    width: 100vw;
    z-index: 2;
    

    & .logo{
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 4;

      & .hide{
          display: none;
      }
        
        &__img{
            width: 12%;
        }

        &__text{
            font-family: 'Playfair Display SC', serif;
            color: $lightYellow;
            padding-left: 6px;
        }

        &__lang{
            font-family: 'Playfair Display SC', serif;
            color: $lightYellow;
            font-size: 2.5rem;
        }

        

    }

    & .menuBtn{

        position: relative;
        z-index: 4;
        margin-top: .5rem;

        & .menuLineBtn{
            display: block;
            background-color: $lightYellow;
            width: 1.5rem;
            height: 3px;
            margin-bottom: 4px;
            border-radius: 10px; 
            transition: .3s ease-in-out;
            transform-origin: 2px 1px;
            

            &--1{
                transform: rotate(45deg);
            }

            &--2{
                opacity: 0;
            }

            &--3{
                transform: rotate(-45deg);
            }
        }
    }

    & .menu {
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        background: $lightPurple;
        transition: .5s ease-in-out;
        padding: 20px;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        z-index: 3;
       

        & a { 
            color: $lightYellow;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            margin-bottom: .5rem;
        }


        &__open{
            left: 0%;
            transition: .5s ease-in-out;
        }
        
        &__bg{
            position: absolute;
            bottom: 0%;
            right: -40%;
            opacity: .1;
            width: 130%;
            transform: rotate(18deg);
            
        }
    }
   
}

