.sClub{

    background: $darkPurple;
    color: $lightYellow;
    font-family: 'Poppins', sans-serif;
   

    & .posterContainer{
        position: relative;
        overflow: hidden;
        height: 90vh;


        & img {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 105%;
            height: 100%;
        }

        & .posterInfoContainer{
            position: absolute;
            z-index: 1;
            padding: 0 20px;
            bottom: 20px;
            right: 0;

            & h2{
                font-style: normal;
                font-weight: bold;
                font-size: 1.56rem;
            }

            & p {
                font-style: normal;
                font-weight: 300;
                font-size: 1rem;

            }
        }

        & .posterGradient{
            position: absolute;
            width: 100%;
            height: 70%;
            bottom: 0;
            left: 0;
            background: linear-gradient(0.27deg, #290849 0.56%, rgba(61, 61, 61, 0) 99.78%);
        }
        
    }

    & .clubInfoContainer{
        padding: 0 20px;

        & img {
            width: 100%;
        }

        & h3, & p, & img{
            padding-bottom: 20px;
        }
    }

    & .member{

        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $lightYellow;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;

        & h3, & p, & img{
            padding-bottom: 0;
        }

        &__imageContainer {
            
            width: 35%;
            
            & img{
                width: 100%;
                border: 2px solid $darkPurple;
                border-radius: 5px;
                transform: translateY(8px);
            }
        }

        &__profileContainer{

            width: 60%;

            & span{
                font-size: .6rem;
                color: $lightPurple;
                
            }

            & p {
                font-style: normal;
                font-weight: normal;
                color: $darkPurple;
                font-size: 1rem;
                margin-top: -5px;
            }
        }

     
       
    }
    

}